<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>宇宙之云</title>


<!--    <link type="text/css" th:href="@{/xss/style.css}" rel="stylesheet"/>-->
<!--    <script type="text/javascript" th:src="@{/xss/jquery.js}"></script>-->
<!--    <script type="text/javascript" th:src="@{/xss/jparticle.min.js}"></script>-->


    <link rel="stylesheet" th:href="@{/zss/style.css}">
</head>

<body>

<p class="loading">Loading...</p>

<script  th:src="@{/zss/script.js}"></script>

</body>
</html>
